<div class="container background_profile">
  <% if @user.user_type == "lawyer" %>
    <div class= "showprofile">
      <ul>
        <%= cl_image_tag @user.photo.key, class: "img-circle" %>
        <p><%= @user.name %></p>
        <p><%= link_to "Edit my info", edit_user_registration_path, class:"btn-ghost" %></p>
      </ul>
    </div>

  <p>Chats</p>
    <div class= "d-flex justify-content-center">
      <ul>
        <% @chatrooms_as_client.each do |chatroom|%>
         <div class="card-white">
           <%= cl_image_tag chatroom.client.photo.key, class: "img-circle" %>
           <div class="card-profile-infos">
              <p> <%= chatroom.lawyer.name %> </p>
           </div>
           <%= link_to  chatroom_path(chatroom) do %>
             <i class="fa-solid fa-message"></i>
           <% end %>
         </div>
        <% end %>
      </ul>
    </div>

  <% else %>
    <div class= "showprofile">
      <ul>
        <%= cl_image_tag @user.photo.key, class: "img-circle" %>
        <p><%= @user.name %></p>
        <p><%= link_to "Edit my info", edit_user_registration_path, class:"btn-ghost" %></p>
      </ul>
    </div>

    <p>Chats</p>
    <div class= "d-flex justify-content-center">
      <ul>
      <% @chatrooms_as_client.each do |chatroom|%>
          <div class="card-white">
              <%= cl_image_tag chatroom.lawyer.photo.key, class: "img-circle" %>
              <div class="card-profile-infos">
                <h2> <%= chatroom.lawyer.name %> </h2>
                <%= link_to  chatroom_path(chatroom) do %>
                  <i class="fa-solid fa-message"></i>
                <% end %>
                <ul>
                  <%= link_to "Review this lawyer", user_path(chatroom.lawyer.id), class:"btn-ghost" %>
                </ul>
              </div>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
