<div class="container background_profile">
  <% if @user.user_type == "lawyer" %>
    <div class= "showprofile">
      <ul>
        <%= cl_image_tag @user.photo.key, class: "img-circle" %>
        <p><%= @user.name %></p>
        <p><%= link_to "Edit my info", edit_user_registration_path, class:"btn-ghost" %></p>
      </ul>
    </div>

  <p>Chats</p>
    <div class= "d-flex justify-content-center">
      <ul>
        <% @chatrooms_as_client.each do |chatroom|%>
         <div class="card-white">
          <div class="notification">
            <%= cl_image_tag chatroom.client.photo.key, class: "img-circle" %>
            <div class="notification-content">
              <p><%= chatroom.lawyer.name %></p>
              <div class="notification-actions">
                <%= link_to  chatroom_path(chatroom) do %>
                  <i class="fa-solid fa-message"></i> Chat
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </ul>
    </div>

  <% else %>
    <div class= "showprofile">
      <ul>
        <%= cl_image_tag @user.photo.key, class: "img-circle" %>
        <p><%= @user.name %></p>
        <p><%= link_to "Edit my info", edit_user_registration_path, class:"btn-ghost" %></p>
      </ul>
    </div>

    <p>Chats</p>
    <div class= "d-flex justify-content-center">
      <ul>
      <% @chatrooms_as_client.each do |chatroom|%>
          <div class="card-white">
            <div class="notification">
              <%= cl_image_tag chatroom.lawyer.photo.key, class: "img-circle" %>
              <div class="notification-content">
                <p><%= chatroom.lawyer.name %></p>
                <div class="notification-actions">
                  <%= link_to  chatroom_path(chatroom) do %>
                    <i class="fa-solid fa-message"></i> Chat
                  <% end %>
                  <ul>
                    <%= link_to "Review", user_path(chatroom.lawyer.id), class:"btn-ghost", class:"fa-sharp fa-solid fa-pencil" %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
