<div class="container">
  <% if @user.user_type == "lawyer" %>
  <div class= "showlawyer">
    <%= cl_image_tag @user.photo.key, class: "avatar-super" %>
    <h2> <%= @user.name %></h2>
    <p><%= @user.oab %></p>
    <p><%= @user.description %></p>
  </div>
  <div class= "row">
    <div class="col col-1">
      <i class="fa-solid fa-mobile-retro"></i>
    </div>
    <div class="col col-5">
      <p><%= @user.phone %></p>
    </div>
    <div class="col col-1">
      <i class="fa-solid fa-envelope"></i>
    </div>
    <div class="col col-5">
      <p><%= @user.email %></p>
    </div>
  </div>
  <p><%= @user.average_rating %></p>
    <%= link_to  chatroom_path(3) do %>
    <i class="fa-solid fa-paper-plane"></i>
      <% end %>


  <% else %>
  <p><%= @user.name %></p>
  <p><%= @user.email %></p>
  <p><%= @user.phone %></p>
  <%end%>

  <% if @user.user_type == "lawyer" %>
    <p><strong>Reviews</strong></p>
    <ul class="list-group">
      <% @user.reviews.each do |review| %>
        <li class="list-group-item"><%= review.comments %></li>
        <li class="list-group-item"><%= review.ratings %></li>
      <% end %>
    </ul>
    <br>
    <%= simple_form_for [@user, @review] do |f| %>
      <%= f.input :comments %>
      <%= f.input :ratings %>
      <%= button_tag type: 'submit' , class: "message_button" do %>
        <i class="fa-solid fa-paper-plane"></i>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to "Add a Tag", new_lawyer_tag_path %>
   <%= link_to "Add a Category", new_lawyer_category_path %>
  <% @user.lawyer_tags.each do |ltag|%>
  <p>
  <%= ltag.tag.name %>
  <%= link_to 'x', lawyer_tag_path(ltag), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'card-remove-icon' %>
  </p>
  <% end %>
    <% @user.lawyer_categories.each do |lcategory|%>
  <p>
  <%= lcategory.category.name %>
  <%= link_to 'x', lawyer_category_path(lcategory), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'card-remove-icon' %>
  </p>
  <% end %>
</div>
