<h2><%= @user.user_type %></h2>
<% if @user.user_type == "lawyer" %>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.phone %></p>
<p><%= @user.oab %></p>
<p><%= @user.average_rating %></p>
<p><%= @user.description %></p>
<% else %>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.phone %></p>
<%end%>

<% if @user.user_type == "lawyer" %>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @user.reviews.each do |review| %>
      <li class="list-group-item"><%= review.comments %></li>
      <li class="list-group-item"><%= review.ratings %></li>
    <% end %>
  </ul>
  <br>
  <%= simple_form_for [@user, @review] do |f| %>
    <%= f.input :comments %>
    <%= f.input :ratings %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
<% end %>
