  <div class="row justify-content-center">
    <div class="col-12">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="50000000">
            <%= image_tag("https://res.cloudinary.com/juliohf/image/upload/v1662648984/Variant3_vjc3h6.png") %>
              <div class="carousel-content">
              <p>Laywer helps you to find the right advocate to solve your problems</p>
              </div>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
            <div class="btn-container">
            <%= link_to "Sign in", user_session_path, class:"btn"  %>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000" data-controller="homepage">
            <%= image_tag("https://res.cloudinary.com/juliohf/image/upload/v1662066522/a/home2_mff6rr.png") %>
            <div class="carousel-content1" data-homepage-target="aiten">
              <%= image_tag("https://res.cloudinary.com/juliohf/image/upload/v1662066512/a/lawyer_vvw0xv.png", size:"100") %>
              <p> Browse a list of lawyers near your location </p>
              </div>
              <div class="carousel-content2" data-homepage-target="biten">
              <%= image_tag("https://res.cloudinary.com/juliohf/image/upload/v1662066533/a/chat_amg1ob.png", size:"100") %>
              <p> Choose one and have a direct channel for exchange instant messages with the lawyer </p>
              </div>
              <div class="carousel-content3" data-homepage-target="citen">
              <%= image_tag("https://res.cloudinary.com/juliohf/image/upload/v1662066531/a/handshake_lg4olo.png", size:"100") %>
              <p> Firm a contract and now you have a lawyer to solve your problems with zero burocracy </p>
              </div>
              <div class="col-12">
                <div class="btn-container">
                <a class="btn" data-action="click->homepage#showSearch" data-homepage-target="diten" data-tf-popup="HAd1hkqJ" data-tf-iframe-props="title=Exemplo" data-tf-medium="snippet" style="color:#E3DBDB;font-size:10px;font-family:Tenor Sans;cursor:pointer;">Start</a><script src="//embed.typeform.com/next/embed.js"></script>
                </div>
              </div>
                <div class="btn-containa d-none" data-homepage-target="eiten">
                  <%= link_to "Find my lawyer", users_path, class:"btn" %>
                </div>
              </div>
      </div>
    </div>
  </div>
